services:
  devcontainer:
    build:
      context: .
      dockerfile: Containerfile
    image: do-ob_devcontainer:latest
    volumes:
      - ..:/workspace:cached
    working_dir: /workspace
    command: sleep infinity